body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #fbf6e6;
  color: #4a2c2a;
}

header {
    background-image: url("../assets/the_gaang_by_happyviper_d6ofbdt-fullview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 35px;
}

.logo {
  width: 50px;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: white;
    text-shadow:
        0 0 5px rgba(255,255,255,0.6),
        0 0 10px rgba(255,255,255,0.5);
}

nav {
  background-image: url("/assets/Home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-left, .nav-right {
  display: flex;
  gap: 12px;
}

.nav-list a {
  text-decoration: none;
  color: #3b1f1a;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-list a:hover {
  background-color: rgba(255,255,255,0.65);
}


.page-title {
  background-image: url("/assets/Home.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title h3 {
  font-size: 56px;
  margin: 0;
}

.homelink {
    text-decoration: none;
    color: #3b1f1a;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
    }

.homelink:hover {
    background-color: rgba(255, 255, 255, 0.65);
    color: #2a1613;
    }


.about-content {
  max-width: 1200px;
  margin: auto;
  padding: 50px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
}

.about-text h4 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 20px;
  line-height: 1.7;
}

.selfie {
  width: 70%;
  height: 500px;
  border: 4px solid black;
  position: relative;
}


footer {
  background-image: url("../assets/Home.png");
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
